/* Index */

/* ==== Corpo Principal ==== */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

/* ==== Estilo do Cabeçalho ==== */
header {
  background-color: #D70022;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  display: flex;
}

/* ==== Estilo da Imagem ao lado do nome ==== */
header img {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

/* ==== Personaliza o titulo ==== */
header h1 a{
  margin-left: 10px;
}

.wrap header h1 {
  letter-spacing: -1px;
  text-shadow: -2px 4px 20px black;
}

/* ==== Estilo do sidebar ==== */
nav {
  background-color: #333333;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* ==== main - largura interna ==== */
main {
  padding: 20px;
}

/* ==== Alinha a div-elenco a esquerda ==== */
.div-elenco {
  float: left;
  width: 850px;
}

/* ==== Alinha a div-contato a direita ==== */
.div-contato {
  float: right;
  width: 600px;
}

/* ==== Section ==== */
section {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
  color: #333333;
}

/* ==== Estiliza o rodape ==== */
footer {
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  clear: both;
}

/* ==== Faz a estilização do botao ==== */
button {
  padding: 10px 20px;
  font-size: 15px;
  background-color: #333333;
  color: #ffffff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  margin-left: auto;
  width: 80px;
  height: 50px;
}

button:hover {
  background-color: #00fff0;
}

/* ==== Historia ==== */
p.historia-p {
  font-size: 20px;
}

/* ==== Titulos ==== */
.div-titulos ul li {
  font-size: 18px;
  text-align: justify;
  max-width: 50%;
}

/* ==== formulario ==== */
form lable {
  display: block;
  font-size: 13px;
  font-weight: 300;
}

.contato input, .contato textarea {
  display: block;
  margin-bottom: 15px;
  padding: 5px 2%;
  width: 56%;
}

.contato textarea {
  height: 150px;
}

.contato input.botao {
  background: #333;
  color: #ffffff;
  width: auto;
}