/* Confi Site */

/* ==== Corpo Principal ==== */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
}

/* ==== Estilo do Cabeçalho ==== */
header {
  background-color: #D70022;
  color: #ffffff;
  text-align: center;
  padding: 20px;
  display: flex;
}

/* ==== Personaliza o titulo ==== */
header h1 a{
  margin-left: 10px;
}

/* ==== Estilo do sidebar ==== */
nav {
  background-color: #333333;
  padding: 10px 0;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

nav ul li {
  display: inline;
}

nav ul li a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

nav ul li a:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

/* ==== main - largura interna ==== */
main {
  padding: 20px;
}

/* ==== Section ==== */
section {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
  color: #333333;
}

/* ==== Estiliza o rodape ==== */
footer {
  background-color: #333333;
  color: #ffffff;
  text-align: center;
  padding: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* ==== Forms ==== */
form {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  width: 25%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select {
  text-decoration: none;
  text-transform: uppercase;
  margin-bottom: 10px;
  border-radius: 10px;
  cursor: pointer;
}

/* ==== Faz a estilização do botao ==== */
button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}